html .a{
  background: url("istockphoto-1342154650-170667a.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html .b{
  background: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input[type=text] {
  width:200px;
  padding:10px;
    margin:10px 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;

}
.button {
    background-color: #2a2a72;
    color: #ffffff;
    padding: 20px 40px;
  border:1px solid #111;
     border-radius:10px;
    background-image: linear-gradient(315deg, #2a2a72 0%,#009ffd 74%);
}
.button:hover {

    background-color: #ffffff;
    background-image: linear-gradient(315deg, #2a2a72 0%,#ffffff 100%);
    color: #1e500d;
    border:1px solid #111;
    border-radius:10px;
}

.header {

  overflow: hidden;
  padding: 20px 10px;
    margin: -15px;
    background-color: #111111;
    text-align: center;

}

/* Style the header links */
.logo {

  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.footer {

  overflow: hidden;
  padding: 20px 10px;
    margin: -15px;
    background-color: #111111;
    text-align: center;

}

/* Style the header links */


/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.footer a.logo {
  font-size: 25px;
  font-weight: bold;
}

.column {
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: Black;
  font-size: 55px;
  font-weight: 1000;
  font-family: Montserrat, serif;
}
.center .sub_title{
  color: Black;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button{
  color: #fff;
  background: none;
}
.btns button:hover{
  background: white;
  color: black;
}
